#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 57%, 0.377);
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
    display: flex;
}

.photograph-header article {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photograph-header article h2 {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
}

.photograph-header article .locationElement {
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.photograph-header article .boxPrice {
    background: #DB8876;
    border-radius: 5px;
    padding-bottom: 10px;
    position: fixed;
    width: 376px;
    height: 70px;
    right: 40px;
    bottom: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.photograph-header article .boxPrice div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photograph-header article .boxPrice div i {
    font-size: 20px;
    margin-left: 5px;
}

.photograph-dropdown {
    display: flex;
    margin: 20px 100px;
    align-items: center;
}

.photograph-dropdown p {
    font-size: 18px;
    font-weight: 700;
}

/* Style de base pour la liste déroulante */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

/* Style du bouton de la liste déroulante */
.dropdown .dropdown-btn {
    border: none;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 170px;
    border-radius: 5px;
}

.dropdown-btn::after {
    font: var(--fa-font-solid);
    content: "\f077";
    font-size: 22px;
    position: absolute;
    right: 20px;
}

/* Style de la liste déroulante */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style des options de la liste déroulante */
.dropdown-content a {
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-top: 1px solid #FAFAFA;
}

/* Style des options de la liste déroulante au survol */
.dropdown-content a:hover {
    background-color: #913434;
}

/* Affichage de la liste déroulante lorsque le bouton est survolé */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 0px 0px 5px 5px;
}

.dropdown:hover .dropdown-btn {
    border-radius: 5px 5px 0px 0px;
}

.dropdown:hover .dropdown-btn::after {
    transform: rotateX(180deg)
}

.photograph-media {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.photograph-media img,
video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 35px;
}

.photograph-media div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.photograph-media h2 {
    color: #901C1C;
    font-weight: 400;
    font-size: 21px;
}

.photograph-media span {
    color: #901C1C;
    font-weight: 700;
    font-size: 21px;
}

.photograph-media span::after {
    font: var(--fa-font-regular);
    content: "\f004";
    margin-left: 5px;
}

.contact_button,
form button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 25px 35px;
    margin: 50px auto 0px auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: first baseline;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 54px;
    font-weight: normal;
    text-align: left;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 5px;
}

form input,
textarea {
    width: 94%;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    padding-left: 3%;
    padding-right: 3%;
}

form input:-internal-autofill-selected {
    background-color: white !important;
}

form textarea {
    height: 170px;
    padding-top: 17px;
    padding-bottom: 17px;
    resize: none;
}

.error-message {
    color: #901C1C;
    font-weight: bold;
}

form button {
    margin-top: 15px;
}

#lightbox-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lightbox-content {
    width: 60%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
        color: #901C1C;
}

#media-content {
    width: 90%;
    height: 100%;
}

#media-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#media-content video {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.lightbox-close{
    position: absolute;
    right: 0;
    top:0;
    font-size: 50px;
}

.fa-chevron-left, .fa-chevron-right{
    font-size: 50px;
}